.centered{
    text-align: center;
}

.font24{
    font-size: 24px;
}
body{
    background-color: rgba(255, 207, 250, 0.5);
    font-size: 24px;
    font-family: Leelawadee, Helvetica, sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

.img-description{
    margin-top: 0em;
}

.no-margin{
    margin: 0;
}